<?xml version="1.0"?>
<launch>
    <!-- <group ns=""> -->
    <node name="avoidance_node" type="avoidance_node" pkg="avoidance" output="screen">
        <param name="mis_obs" value="false"/>
        <param name="t_to_hit_thresh" value="5"/>
        <param name="mav_id" value="1"/>
    </node>
    <!-- </group> -->
</launch>